<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47044961249-q0uomnvaf66ng64da8e21tu74lqjdns6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47044961249-q0uomnvaf66ng64da8e21tu74lqjdns6</string>
	<key>API_KEY</key>
	<string>AIzaSyAaG0E7buGaSghE7CFN8bGqVFadVwwWW2M</string>
	<key>GCM_SENDER_ID</key>
	<string>47044961249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.tonydam.artbrush</string>
	<key>PROJECT_ID</key>
	<string>artbrush-fdc7c</string>
	<key>STORAGE_BUCKET</key>
	<string>artbrush-fdc7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47044961249:ios:553c7b448f6b21218de8a0</string>
	<key>DATABASE_URL</key>
	<string>https://artbrush-fdc7c.firebaseio.com</string>
</dict>
</plist>